@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFE3DC, #f26ca7);
}

main {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px  black;
}
div{
    text-align: center;
}

h1 {
    text-align: center;
    color: #3A2D32;
}

h2 {
    color: #3A2D32;
}
footer{
    text-align: center;
    text-shadow: 111px, 111px, 111px 1black;
}